Menu Mind – OneDrive to Pinecone Embeddings Pipeline.json
{
  "name": "Embeddings Pinecone",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1d842d1d-a727-4a4d-8079-cafddacfdf63",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "query": "Menu"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "a5cab232-a2e6-49ab-b120-4f6f61089911",
      "name": "Search a file",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "Fcsf6iX57Tifonlq",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "d631eeb1-36c8-4724-9819-bda830c075d6",
      "name": "Download a file",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "Fcsf6iX57Tifonlq",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "menu",
          "mode": "list",
          "cachedResultName": "menu"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        624,
        0
      ],
      "id": "2f3c3f17-5d23-42c8-ad1b-ba93f19cb2ed",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "yUphnSv29PjQdIjn",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        560,
        208
      ],
      "id": "57d42f52-9c60-424d-a02e-6eee0d8cd8a1",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "RHPR7K9loJau8eRf",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        768,
        208
      ],
      "id": "510e9fbd-cc9a-457f-a3f4-85adb56a8d9a",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search a file": {
      "main": [
        [
          {
            "node": "Download a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5a3af725-2a8e-4a1f-acab-7419dc48881d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b2b156ba4be8420fbe91e673e0d220fca70523c50fd0d39504cddc5e16046fa"
  },
  "id": "1Aas68eyloqUxrIQ",
  "tags": []
}